.pagination {
    list-style: none;
    margin: 3.125rem 0 0;
    padding: 0;
    display: flex;
    gap: 1.25rem;
    justify-content: center;
    li {
      border: 2px solid var(--primary-1);
      border-radius: 50%;
      width: 3.125rem;
      height: 3.125rem;
      &.current{
        background: var(--primary-3);
        border: 2px solid var(--primary-3)
      }
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        font-size: var(--font-size-3);
        font-weight: 500;
        text-decoration: none;
        color: var(--primary-2);
      }
    }
  }
  