@import "../../../../variables.scss";

.container {
  width: calc(var(--max-width) - 2.5rem);
  margin: 6.25rem auto;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  h3 {
    width: 100%;
  }
  .content {
    width: 100%;
    padding-top: 0.625rem;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    p {
      &:nth-of-type(1) {
        color: var(--primary-1);
      }
    }
  }
}

@media (min-width: $tablet-breakpoint) {
  .container {
    flex-direction: row;
    h3 {
      width: 40%;
    }
    .content {
      width: 60%;
    }
  }
}

@media (min-width: $monitor-breakpoint) {
  .container {
    width: var(--max-width);
  }
}
