.container {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 20px 0;
  text-align: left;
  &.reverse{
    flex-direction: row-reverse;
  }
  .image {
    border-radius: 0 150px 0 300px;
    width: 50%;
  }
  .content {
    width: 50%;
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: var(--color-white);
      font-size: 120px;
      font-family: var(--font-2);
    }
  }
}
