@import "../../variables.scss";

.content {
  width: calc(var(--max-width) - 2.5rem);
  margin: 6.25rem auto;
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  justify-content: space-between;
}

.article {
  width: 100%;
  p {
    margin: 1.875rem 0;
  }
  img {
    width: 100%;
    border-radius: 1.875rem;
    margin-top: 1.25rem;
  }
  .contact {
    border-top: 1px solid var(--primary-3);
    padding: 1.875rem 0 6.25rem;
    form {
      margin-top: 1.875rem;
      input[type=submit]{
        margin: 0;
      }
    }
  }
}

@media (min-width: $monitor-breakpoint) {
  .content {
    width: var(--max-width);
    flex-direction: row;
  }
  .article {
    width: calc(100% - 18.75rem);
  }
}
