@import "../../variables.scss";

.container {
  width: var(--max-width);
  margin: 0 auto;
  text-align: center;
}

.articles {
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}