@import "../../variables.scss";

.articlesContainer {
  width: calc(var(--max-width) - 2.5rem);
  margin: 6.25rem auto;
}

@media (min-width: $monitor-breakpoint) {
  .articlesContainer {
    width: var(--max-width);
  }
}
