@import "../../variables.scss";

.container {
  background: var(--primary-3);
  margin: 6.25rem 0;
  padding: 2.5rem 0 3.125rem;
  .content {
    width: calc(var(--max-width) - 2.5rem);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: $monitor-breakpoint) {
  .container {
    .content {
      flex-wrap: nowrap;
      width: var(--max-width);
    }
  }
}
