@import "../../variables.scss";

.container {
  width: calc(var(--max-width) - 2.5rem);
  margin: 6.25rem auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1.875rem;
  justify-content: space-evenly;
  align-items: center;
}

@media (min-width: $monitor-breakpoint) {
  .container {
    width: var(--max-width);
  }
}