@import "../../variables.scss";

.container {
  height: 21.875rem;
  width: 100%;
  background-size: cover;
  background-position: center center;
  margin: 0 0 1.25rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.info {
  position: relative;
  background-color: var(--color-white);
  padding: 1.25rem 1.875rem;
  text-align: center;
  width: 80%;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  &:before,
  &:after {
    content: "";
    position: absolute;
    height: 0.625rem;
    width: 1.25rem;
    bottom: 0;
  }
  &:after {
    right: -1.25rem;
    border-radius: 0 0 0 0.625rem;
    box-shadow: -10px 0 0 0 var(--color-white);
  }
  &:before {
    left: -1.25rem;
    border-radius: 0 0 0.625rem 0;
    box-shadow: 10px 0 0 0 var(--color-white);
  }
}

@media (min-width: $mobile-breakpoint) {
  .info{
    max-width: 500px;
  }
}