@import "../../variables.scss";

.container {
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  margin: 0 0 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.info {
  position: relative;
  background-color: var(--color-white);
  padding: 20px 30px;
  text-align: center;
  width: 80%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  &:before,
  &:after {
    content: "";
    position: absolute;
    height: 10px;
    width: 20px;
    bottom: 0;
  }
  &:after {
    right: -20px;
    border-radius: 0 0 0 10px;
    box-shadow: -10px 0 0 0 var(--color-white);
  }
  &:before {
    left: -20px;
    border-radius: 0 0 10px 0;
    box-shadow: 10px 0 0 0 var(--color-white);
  }
}

@media (min-width: $mobile-breakpoint) {
  .info{
    max-width: 500px;
  }
}