.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.75rem;
    height: 3.75rem;
    background: var(--primary-3);
    border-radius: 50%;
    img{
        width: .5rem;
        height: 1.6rem;
    }
  }