@import "../../../../variables.scss";

.container {
  text-align: center;
  padding: 0 2.8rem;
  width: 100%;
}

.number {
  color: var(--primary-1);
  font-size: 5.3rem;
  line-height: 5.9rem;
  font-family: var(--font-2);
}

@media (min-width: $mobile-breakpoint) {
  .container {
    width: 50%;
    border-right: 2px solid var(--primary-1);
    &:nth-of-type(2),
    &:nth-of-type(4) {
      border-right: none;
    }
  }
}

@media (min-width: $monitor-breakpoint) {
  .container {
    width: 25%;
    &:nth-of-type(2) {
      border-right: 2px solid var(--primary-1);
    }
  }
}
