@import "../../../../variables.scss";

.container {
  width: 100%;
}

.latestNews {
  display: flex;
  flex-direction: column;
  padding: 1.875rem 0;
}

.singleNews {
  display: block;
  text-decoration: none;
  border-bottom: 2px solid var(--primary-3);
  padding: 0.625rem 0;
}

.date {
  font-size: var(--font-size-3);
  text-align: right;
  color: var(--primary-2);
}

@media (min-width: $mobile-breakpoint) {
  .latestNews {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.25rem;
  }
  .singleNews {
    width: calc(50% - 0.625rem);
  }
}

@media (min-width: $tablet-breakpoint) {
  .latestNews {
    justify-content: space-between;
  }
  .singleNews {
    width: calc(33% - 1.25rem);
  }
}

@media (min-width: $monitor-breakpoint) {
  .container {
    width: 18.75rem;
  }
  .latestNews {
    flex-direction: column;
  }
  .singleNews {
    width: 100%;
  }
}
