@import "../../../../variables.scss";

.container {
  width: calc(var(--max-width) - 2.5rem);
  margin: 6.25rem auto;
  display: flex;
  flex-direction: column;
  .content {
    display: grid;
    gap: 1.875rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
  }
}

.categories{
  list-style: none;
  padding: 0;
  margin: 0 auto 3.125rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid var(--primary-1);
  border-radius: 1.25rem;
  li{
    width: 50%;
    text-align: center;
    padding: 1rem 1.25rem;
    border-radius: 1.25rem;
    font-weight: 500;
    cursor: pointer;
    transition: 300ms;
    &.active{
      background-color: var(--primary-1);
      color: var(--color-white)
    }
  }
}

@media (min-width: $tablet-breakpoint) {
  .categories{
    width: 50rem;
    li{
      width: 25%;
    }
  }
}

@media (min-width: $monitor-breakpoint) {
  .container {
    width: var(--max-width);
  }
}