@import "../../../../variables.scss";

.banner {
  display: flex;
  align-items: center;
  height: 50rem;
  background-size: cover;
  background-position: bottom;
  border-bottom-right-radius: 18.75rem;
  border-bottom-left-radius: 0;
}

.container {
  width: calc(var(--max-width) - 2.5rem);
  margin: 0 auto;
}

.content {
  width: calc(100% - 2.5rem);
}

.title {
  font-size: 3.125rem;
  line-height: 3.5rem;
  font-family: var(--font-2);
}

.subtext {
  margin: 1.25rem 0;
}

@media (min-width: $mobile-breakpoint) {
  .title {
    font-size: 5.375rem;
    line-height: 5.625rem;
  }
}


@media (min-width: $monitor-breakpoint) {
  .banner {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 18.75rem;
  }

  .container {
    width: var(--max-width);
  }  

  .content {
    width: 37.5rem;
  }
}
