@import "../../../../variables.scss";

.banner {
  display: flex;
  align-items: center;
  height: 800px;
  background-size: cover;
  background-position: bottom;
  border-bottom-right-radius: 300px;
  border-bottom-left-radius: 0px;
}

.container {
  width: calc(var(--max-width) - 40px);
  margin: 0 auto;
}

.content {
  width: calc(100% - 40px);
}

.title {
  font-size: 50px;
  line-height: 55px;
  font-family: var(--font-2);
}

.subtext {
  margin: 20px 0;
}

@media (min-width: $mobile-breakpoint) {
  .title {
    font-size: 85px;
    line-height: 90px;
  }
}


@media (min-width: $monitor-breakpoint) {
  .banner {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 300px;
  }

  .container {
    width: var(--max-width);
  }  

  .content {
    width: 600px;
  }
}
