.container {
  width: 1200px;
  margin: 100px auto;
}
.article {
  display: flex;
  gap: 50px;
  align-items: center;
  margin-top: 30px;
  padding: 20px;
  border-radius: 30px;
  border: 1px solid var(--primary-3);
  .image {
    width: 50%;
    border-radius: 30px;
  }
  .content {
    display: flex;
    flex-direction: column;
    width: 50%;
    .link {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 15px 0 10px;
      .date {
        font-size: var(--font-size-3);
      }
    }
    p {
      margin: 20px 0;
    }
  }
}
