@import "../../../../variables.scss";

.container {
  width: calc(var(--max-width) - 2.5rem);
  margin: 6.25rem auto;
}
.article {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  margin-top: 1.875rem;
  padding: 1.25rem;
  border-radius: 1.875rem;
  border: 1px solid var(--primary-3);
  .image {
    width: 100%;
    border-radius: 1.875rem;
  }
  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    .link {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 1rem 0 0.625rem;
      .date {
        font-size: var(--font-size-3);
      }
    }
    p {
      margin: 1.25rem 0;
    }
  }
}

@media (min-width: $tablet-breakpoint) {
  .container{
    width: var(--max-width);
  }
  .article {
    flex-direction: row;
    align-items: center;
    .image {
      width: 50%;
    }
    .content {
      width: 50%;
    }
  }
}
