@import "../../../../variables.scss";

.container {
  width: calc(var(--max-width) - 40px);
  margin: 100px auto;
}
.article {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 30px;
  padding: 20px;
  border-radius: 30px;
  border: 1px solid var(--primary-3);
  .image {
    width: 100%;
    border-radius: 30px;
  }
  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    .link {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 15px 0 10px;
      .date {
        font-size: var(--font-size-3);
      }
    }
    p {
      margin: 20px 0;
    }
  }
}

@media (min-width: $tablet-breakpoint) {
  .container{
    width: var(--max-width);
  }
  .article {
    flex-direction: row;
    align-items: center;
    .image {
      width: 50%;
    }
    .content {
      width: 50%;
    }
  }
}
