@import "../../../../variables.scss";

.container {
  position: relative;
  width: calc(100% - 2.5rem);
  margin: 3.125rem auto;
  text-align: center;
  border: 1.625rem solid var(--primary-3);
  border-radius: 3.125rem;
  padding: 0px 1rem 1.25rem;
  &:before,
  &:after {
    content: "";
    position: absolute;
    height: 1.625rem;
    width: 75%;
    display: block;
    background: var(--color-white);
    transform: translateX(-50%);
    left: 50%;
  }
  &:before {
    top: -1.625rem;
  }
  &:after {
    bottom: -1.625rem;
  }
  h3 {
    font-style: italic;
    &:before {
      content: url("../../../../assets/icons/quote-icon.svg");
      margin: 0 auto 2.5rem;
      font-size: 3.375rem;
      display: block;
      width: 3.125rem;
      height: 3.125rem;
    }
  }
  .author {
    font-size: 1.625rem;
    margin-top: 1.875rem;
    text-transform: uppercase;
  }
}

@media (min-width: $tablet-breakpoint) {
  .container {
    width: 54.375rem;
    margin: 6.25rem auto;
    padding: 0 6.25rem 1.25rem;
  }
}
