@import "../../../../../../variables.scss";

.project {
  width: 100%;
  height: 100%;
  grid-column: 1/3;
  .info {
    display: flex;
    justify-content: space-between;
    height: 6.25rem;
    align-items: center;
    p {
      width: 100%;
      overflow: hidden; 
      -o-text-overflow: ellipsis; 
      text-overflow: ellipsis;
    }
  }
  .projectImage {
    height: calc(100% - 6.25rem);
    width: 100%;
    object-fit: cover;
  }
}

@media (min-width: $mobile-breakpoint) {
  .project {
    &:nth-of-type(1),
    &:nth-of-type(4) {
      height: 31.25rem;
    }
    &:nth-of-type(2),
    &:nth-of-type(3) {
      height: 31.25rem;
    }
  }
}

@media (min-width: $monitor-breakpoint) {
  .project {
    &:nth-of-type(1),
    &:nth-of-type(4) {
      height: 50rem;
    }
    &:nth-of-type(2),
    &:nth-of-type(3) {
      height: 31.25rem;
    }
    &:nth-of-type(1) {
      grid-row: 1/4;
      grid-column: 1/2;
    }
    &:nth-of-type(2) {
      grid-row: 1/3;
      grid-column: 2/3;
    }
    &:nth-of-type(3) {
      grid-row: 4/6;
      grid-column: 1/2;
    }
    &:nth-of-type(4) {
      grid-row: 3/6;
      grid-column: 2/3;
    }
  }
}
