@import "../../variables.scss";

.header {
  color: var(--primary-2);
  font-family: var(--font-2);
  &.header01 {
    font-size: 40px;
  }
  &.header02 {
    font-size: 28px;
  }
  &.header03 {
    font-size: 18pxpx;
  }
  &.header04 {
    font-size: 16px;
  }
  &.header05 {
    font-size: 14pxpx;
  }
  &.header06 {
    font-size: 12px;
  }
}

@media(min-width: $mobile-breakpoint){
  .header {
    &.header01 {
      font-size: 50px;
    }
    &.header02 {
      font-size: 35px;
    }
    &.header03 {
      font-size: 25px;
    }
    &.header04 {
      font-size: 22px;
    }
    &.header05 {
      font-size: 20px;
    }
    &.header06 {
      font-size: 18px;
    }
  }
}