@import "../../../../variables.scss";

.container {
  width: calc(var(--max-width) - 2.5rem);
  margin: 6.25rem auto;
  text-align: center;
  background: var(--primary-3);
  padding: 4.375rem 1.25rem;
  border-radius: 1.25rem;
}

.testimonials {
  margin-top: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.625rem;
}

@media (min-width: $monitor-breakpoint) {
  .container {
    width: var(--max-width);
  }
}
