.container{
    width: 1200px;
    margin: 100px auto;
    text-align: center;
    background: var(--primary-3);
    padding: 70px 20px;
    border-radius: 20px;
}

.testimonials{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}