@import "../../../../variables.scss";

.container {
  width: calc(var(--max-width) - 2.5rem);
  margin: 6.25rem auto;
  display: flex;
  gap: 2.5rem;
  flex-direction: column;
  justify-content: space-around;
}

@media (min-width: $mobile-breakpoint) {
  .container {
    flex-direction: row;
  }
}

@media (min-width: $monitor-breakpoint) {
    .container {
      width: var(--max-width);
      flex-direction: row;
    }
  }
