@import "../../variables.scss";

.footer {
  display: block;
  width: calc(var(--max-width) - 2.5rem);
  margin: 0 auto;
}

.column {
  width: 100%;
  margin: 1.25rem 0;
  ul {
    font-size: var(--font-size-3);
  }
}

@media (min-width: $mobile-breakpoint) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
  }
  .column {
    width: 22%;
    &:nth-of-type(1) {
      width: 33%;
    }
  }
}

@media (min-width: $monitor-breakpoint) {
  .footer {
    width: var(--max-width);
    justify-content: space-around;
    flex-wrap: nowrap;
  }
}
