@import "../../variables.scss";

.image {
  width: calc(var(--max-width) - 40px);
  margin: 100px auto;
  object-fit: cover;
  border-radius: 40px;
}

@media (min-width: $monitor-breakpoint) {
  .image {
    width: var(--max-width);
  }
}
