@import "../../variables.scss";

.image {
  width: calc(var(--max-width) - 2.5rem);
  margin: 6.25rem auto;
  object-fit: cover;
  border-radius: 2.5rem;
}

@media (min-width: $monitor-breakpoint) {
  .image {
    width: var(--max-width);
  }
}
