:root{
    --primary-1: #CDA274;
    --primary-2: #292f36;
    --primary-3: #F4F0EC;
    --color-white: #FFFFFF;

    --font-1: 'Jost', sans-serif;
    --font-2: 'DM Serif Display', serif;

    --font-size-1: 22px;
    --font-size-2: 20px;
    --font-size-3: 18px;
}