:root {
  --primary-1: #cda274;
  --primary-2: #292f36;
  --primary-3: #f4f0ec;
  --color-white: #ffffff;

  --font-1: "Jost", sans-serif;
  --font-2: "DM Serif Display", serif;

  --font-size-1: 1.375rem;
  --font-size-2: 1.25rem;
  --font-size-3: 1.125rem;

  --max-width: 100%;
}

$mobile-breakpoint: 600px;
$tablet-breakpoint: 900px;
$monitor-breakpoint: 1200px;

@media (min-width: $monitor-breakpoint) {
  :root {
    --max-width: 75rem;
  }
}
